[Unit]
Description=Start frontend of Sausage Store project

[Service]
User={{ frontend_service_user }}
Restart=always
Environment=LOG_PATH={{ frontend_dir }}
StandardOutput=file:{{ frontend_dir }}/out-front.log
ExecStart=/usr/bin/http-server {{ frontend_workdir }} -p 443 --proxy http://localhost:8080

[Install]
WantedBy=multi-user.target
