[Unit]
Description=sausage-store

[Service]
User={{ backend_service_user }}

Restart=always

Environment=REPORT_PATH={{ backend_report_directory }}
Environment=LOG_PATH={{ backend_logs_directory }}
StandardOutput=file:{{ backend_logs_directory }}/out.log



ExecStart=/usr/bin/java \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar {{ backend_lib_directory }}/sausage-store.jar
SuccessExitStatus=143


[Install]
WantedBy=multi-user.target 
